* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width:100%;
    display:flex;
}

.title{
    display: flex;
    background-color: rgba(0,139, 139,0.8);
    padding: 10px 15px;
    margin: 0;
  }

.menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
}

.menu {
    border: 1px solid #fff;
    
    display: flex;
    justify-content: space-between;
}

.menu-container {
    display: flex;
    justify-content: center;
}

.links {
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-end;
}

#blue {
    color:#5995DA;
}

.main-page {
    margin-left: 20px;
}

.database {
    margin-left: 20px;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
    flex-direction: row;
    align-items: center;
}

.first-item {
    order: 1;
}

.last-item {
    order: -1;
}

.group-project,
.github {
    align-self: flex-end;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

.footer-one,
.footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
}

@media only screen and (max-width: 400px) {
    section {
        width: 100%;
        display: flex;
    }
}

@media only screen and (min-width: 961px) {
    .page {
        width: 960px;
        margin: 0 auto;
    }

    .title,
    .menu,
    .header,
    .photo-grid,
    .footer {
        width: 100%;
        display: flex;
        
    }
}